{% extends 'frontend/core.html' %}
{% block nav %}
<div class="navbar navbar-default"> 
    <div class="container">
        <div class="navbar-header">
            <a href="{% url 'index' %}" class="navbar-brand">SGK</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main"></button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Gestión <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a tabindex="1" href="{% url 'turno_list' %}">Turnos</a></li>
                        <li class="divider"></li>
                        <li><a tabindex="2" href="{% url 'persona_list' %}">Personas</a></li>
                        <li><a tabindex="3" href="{% url 'motivo_consulta_list' %}">Motivos de consulta</a></li>
                        <li><a tabindex="4" href="../profesionales/">Profesionales</a></li>
                        <li><a tabindex="5" href="{% url 'paciente_list' %}">Paciente</a></li>
                    </ul>
                </li>
                <li>
                    <a href="{% url 'turno_create' %}">Nuevo turno</a>
                </li>
                <li>
                    <a href="{% url 'paciente_create' %}">Nuevo paciente</a>
                </li>
            </ul>
            <div class="nav navbar-nav navbar-right">
            {% block header %}
                {% if user.is_authenticated %}
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Hola<strong> {{ user.username }} </strong><span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'auth_password_change' %}">Cambiar contraseña</a></li>
                            <li><a href="#" onclick="closeSession()">Cerrar sesión</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{% url 'auth_login' %}">Iniciar sesión</a></li>
                  {% endif %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
