{% extends 'frontend/core.html' %}
{% block nav %}
<div class="navbar navbar-default"> 
      <div class="container">
        <div class="navbar-header">
          <a href="{% url 'index' %}" class="navbar-brand">SGK</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Gestión <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li><a tabindex="-1" href="{% url 'turno_list' %}">Turnos</a></li>
                <li class="divider"></li>
                <li><a tabindex="-1" href="../personas/">Personas</a></li>
                <li><a tabindex="-1" href="../contactos/">Contacto</a></li>
                <li><a tabindex="-1" href="../profesionales/">Profesionales</a></li>
                <li><a tabindex="-1" href="../pacientes/">Paciente</a></li>
              </ul>
            </li>
            <li>
            <a href="{% url 'turno_create' %}">Nuevo turno</a>
            </li>
          </ul>
        <div class="nav navbar-nav navbar-right">
            {% block header %}
            {% if user.is_authenticated %}
                <li><a href="#">¡ Hola<strong> {{ user.username }} </strong>!</a></li>
                <li><a href="{% url 'auth_password_change' %}">Cambiar contraseña</a></li>
                <li><a href="#" onclick="closeSession()">Cerrar sesión</a></li>
            {% else %}         
               
         <form method="POST" action="{% url 'auth_login' %}" class="navbar-form form-horizontal">
           {% csrf_token %}
           <div class="row navbar-right">
             <div class="col-xs-3  navbar-right">
               <button type="submit" class="btn btn-default">Identificarse</button>
             </div>
              <div class="col-xs-3  navbar-right">
               <input type="password" class="form-control" placeholder="Contraseña" id="id_password" name="password">
             </div>
             
             <div class="col-xs-3  navbar-right">
               <input type="text" class="form-control" placeholder="Usuario" id="id_username" name="username">
             </div> 
            
             
           </div>
         </form> 
              {% endif %}
            {% endblock %}
                
       </div>
         

        </div>
      </div>
    </div>
{% endblock %}
