{% load bootstrap3 static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'css/mdialog.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script type="text/javascript" src="{% static 'js/jquery-2.0.3.min.js' %}" ></script>
    <script type="text/javascript" src="{% static 'js/mdialog.js' %}" ></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}" ></script>
    <title>{% block title %}·: Sistema de gestión kinesiológico :·{% endblock %} {% block subtitle %}{% endblock %}</title>
</head>
<body>

  {% block nav %}{% endblock %}
  {% bootstrap_messages %}
    <div class="container">
      {% block content %}{% endblock %}
    </div>
  
  <div id="footer">
    {% block footer %}{% endblock %}
  </div>
<script type="text/javascript">
      function closeSession(){
        mconfirm = new mDialogConfirm({
            title: '¿Cerrar sesión?',
            message: "Está a punto de cerrar la sesión. ¿Desea continuar?",
            yes: function() { window.location = {% url 'auth_logout' %}; },
            type: 'shutdown'
        }).show();
      }
</script>
{% block script_js %} {% endblock %}
 <!-- Required for mDialog -->
<div id="mdialog"></div>
</body>
</html>
