{% extends "frontend/base_simple.html" %}
{% load bootstrap3 %}
{% block subtitle %}
    Inicio
{% endblock %}
{% block content %}
{% buttons %}
<a href="{% url 'turno_create' %}" />
<button type="button" class="btn btn-primary">
  {% bootstrap_icon "star" %} Nuevo turno
</button>
</a>
{% endbuttons %}
    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <th>Día</th>
                <th>Hora</th>
                <th>Paciente</th>
                <th>Profesional</th>
                <th>Duración</th>
                <th>Motivo</th>
                <th>Asistió</th>
                <th>Avisó</th>
                <th>Observaciones</th>
            </tr>
        </thead>
        <tbody>
            {% for t in object_list %}
                <tr>
                    <td>{{ t.dia }}</td>
                    <td>{{ t.hora }}</td>
                    <td>{{ t.paciente__persona__nombre }}</td>
                    <td>{{ t.profesional__persona__nombre }}</td>
                    <td>{{ t.duracion }}</td>
                    <td>{{ t.motivo }}</td>
                    <td>{{ t.asistio }}</td>
                    <td>{{ t.aviso }}</td>
                    <td>{{ t.observaciones }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
