{% extends "frontend/base.html" %}
{% load bootstrap3 static frontend_tags %}
{% block subtitle %}
    Inicio
{% endblock %}
{% block content %}
    <h2>Listado de pacientes
        <a href="{% url 'paciente_create' %}" class="pull-right"/>
        <button type="button" class="btn btn-primary">
          {% bootstrap_icon "plus" %} Añadir paciente
        </button>
        </a>
    </h2>
{% buttons %}

{% endbuttons %}
    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Persona</th>
                <th>Peso</th>
                <th>Altura</th>
                <th>Fecha de ingreso</th>
                <th>Obra social</th>
                <th>Observaciones</th>
            </tr>
        </thead>
        <tbody>
            {% for t in object_list %}
                <tr>
                    <td class="img-thumb-table">{{ t|profile_image:'img-rounded'}}
                    </td>
                    <td><a href="{% url 'ficha_kinesica' t.pk %}">{{ t.persona }}</a></td>
                    <td>{{ t.peso }}</td>
                    <td>{{ t.altura }}</td>
                    <td>{{ t.fecha_ingreso }}</td>
                    <td>{% if t.obra_social %} {{ t.obra_social }} {% else %}No especificada{% endif %}</td>
                    <td>{{ t.observaciones }}</td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
