{% extends "frontend/base.html" %}
{% load bootstrap3 static %}
{% block subtitle %}
    Inicio
{% endblock %}
{% block content %}
    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Fecha de Nacimiento</th>
                <th>Género</th>
                <th>Estado civil</th>
                <th>DNI</th>
                <th>Domicilio</th>
                <th>Profesión</th>
                <th>Observaciones</th>
            </tr>
        </thead>
        <tbody>
            {% for t in object_list %}
                <tr>
                    <td>{% if t.imagen_perfil %}
                            <img src="{% static t.imagen_perfil.url %}" height="40" />
                        {% endif %}
                    </td>
                    <td>{{ t.nombre }}</td>
                    <td>{{ t.apellido}}</td>
                    <td>{{ t.fecha_nacimiento }}</td>
                    <td>{{ t.get_genero_display }}</td>
                    <td>{{ t.get_estado_civil_display }}</td>
                    <td>{{ t.dni }}</td>
                    <td>{{ t.domicilio }}</td>
                    <td>{% if t.profesion %} {{ t.profesion }} {% else %}No especificada{% endif %}</td>
                    <td>{{ t.observaciones }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
