{% extends "frontend/index.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block content %}

{% if validlink %}
    <div class="user-form" id="forms">
            <form method="post" action=".">
                {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    {% bootstrap_icon "share-alt" %} Enviar
                </button>
            {% endbuttons %}
            </form>
        </div>
    </div>
{% else %}
    <div class="alert alert-danger">Error al procesar la solicitud.</div>
{% endif %}

{% endblock %}
