{% extends "frontend/base_simple.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block content %}
    <div class="panel panel-default col-lg-6 col-lg-offset-3" id="forms">
        <div class="panel-heading">Cambio de contraseña</div>
        <form method="post" action=".">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                {% bootstrap_icon "star" %} Enviar
                </button>
            {% endbuttons %}
        </form>
    </div>
{% endblock %}
