/** { padding: 0px; margin: 0px;}
*/
body{
    background-color: #efefff;
}

fieldset {
    border: 0px;
    background-color: #f4f4ff;
}


.report td { padding: 5px 10px; background-color: #e5e5ff; }
.report th{ padding: 2px 10px; background-color: #d5d5ff; color: #222; }

table.styled-table {
    border-collapse: collapse;
}
table.styled-table th, table.styled-table td {
    border: 1px solid #000;
    padding: 5px;
}

.audio-row {white-space: nowrap;}

.label-field { font-weight: 600; } }

.table-label-field p span { font-weight: 600; }

.warn-color-text { color: #AA0000; }

.centered { float: none; margin-left: auto; margin-right: auto; } }
